{% extends "privatebase.html" %}
{% block content %}
     <!--Row for content-->
      <div class="row content">
        <div class="col-md-12">
          <h3>Edit item</h3>
          <form action="{{url_for('newItem')}}" method = 'POST'>
              <p>Name</p>
              <input type='text' size='30' name='name' value= {{item.name}}>
              <p>Description</p>
              <input type='text' size='30' name='description' value= {{item.description}}>
              <p>Category</p>
              <select name='category'>
                <option value="{{item.category.name}}">{{item.category.name}}</option>
              {% for i in categories %}
                <option value="{{i.name}}">{{i.name}}</option>
              {% endfor %}
              </select>
               <p>
              <input type='submit' value='Update'>
              </p>
          </form>
        </div>
     </div>
{% endblock %}


