{% extends "privatebase.html" %}
{% block content %}
     <!--Row for content-->
      <div class="row">
        <div class="col-md-8 offset-2 list-group">
          <form action="{{url_for('editItem',item_name=item.name)}}" method = 'POST'>
            <ul>
              <li class="list-group-item active">Edit item</li>
              <li class="list-group-item"><input type='text' size='30' name='name' value="{{item.name}}"></li>
              <li class="list-group-item"><input type='text' size='30' name='description' value="{{item.description}}"></li>
              <li class="list-group-item">
                <select name='category'>
                  <option value="{{item.category.name}}">{{item.category.name}}</option>
                  {% for i in categories %}
                  <option value="{{i.name}}">{{i.name}}</option>
                  {% endfor %}
                  </select>
              </li>
              <li class="list-group-item list-group-item-success"><input type='submit' value='Edit'></li>
            </ul>
          </form>
        </div>
     </div>
{% endblock %}


