{% extends "privatebase.html" %}
{% block content %}
     <!--Row for content-->
      <div class="row">
        <div class="col-md-8 offset-2 list-group"">
          <form action="{{url_for('newItem')}}" method = 'POST'>
            <ul>
              <li class="list-group-item active">Add item</li>
              <li class="list-group-item"><input type='text' size='30' name='name' value="Item name"></li>
              <li class="list-group-item"><input type='text' size='30' name='description' value="Item description"></li>
              <li class="list-group-item">
                <select name='category'>
                  {% for i in categories %}
                  <option value="{{i.name}}">{{i.name}}</option>
                  {% endfor %}
                  </select>
              </li>
              <li class="list-group-item list-group-item-success"><input type='submit' value='Add'></li>
            </ul>
          </form>
        </div>
     </div>
{% endblock %}


