/* General CSS */
* {
  font-family: "Source Sans Pro", sans-serif;
  color: #595959;
}

/* CSS for the header section */
header {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  text-align: center;
  border-bottom: 1.5px solid #595959;
}